header {
  background-color: #ffcb05;
  border-bottom-style: solid;
  border-bottom-color: #3466af;
  border-width: 4px;
  padding-bottom: 5px;


  
}

form.container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-submit {
  background-color: #ffcb05;
  color: #3466af;
  border-color: #ffcb05;
  border-width: 2px;
}

body {
font-family: 'Press Start 2P', cursive;
font-size: 12px;
text-transform: uppercase;
text-align: center;
} 

 
/* All of the pairings */ 
.sc-bdVaJa.codMLk {
 

}

/* Each pairing round */


.round {
  float: center;
}
.round.r-of-16 {
  margin-top: 3px;
  margin-left: 10px;
  
}

.round.r-of-16.reversed {
  margin-top: 3px;
  margin-right: 10px;
}

.round.q-f {
  margin-top: 20px;
}

.round.s-f {
  margin-top: 3px;
}

.round.final {
  margin-top: 3px;
}

.bracket-game {
  max-width: 200px;
  margin: 10px 0;
}
.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
}
.player.top {
  border-radius: 3px 3px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  
}
.player.bot {
  border-radius: 0 0 3px 3px;
  border-radius: 3px 3px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
  color: #000000;
  
}
.player.win {
  background-color: #ffcb05;
  color: #000000;
  
  
}
.player.loss {
  background-color: #3466af;
  color: #FFFFFF;
  
  
}

/* Pairings connectors */
/*

.connectors.q-f {
  float: left;
  min-width: 35px; 
  margin-left: -24px;
  margin-top: -245px;

}
.connectors.q-f .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.q-f .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.q-f .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.q-f .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}
.clear {
  clear: both;
}

*/